.c1{
    background-color: rgb(235, 198, 31);
    text-align: center;
    margin: 100px;
    padding: 50px;

}
.c2{
    margin: 100px;
    text-size-adjust: 14%;
}
.c3{
    background-color: blue;
    margin-left: 100px;
    margin-right: 1000px;
    text-align: center;
    
  
}
.c4{
background-color: green;
margin: 100px;
margin-right: 1000px;
text-align: center;
}